/* ==================================
    Extra Samll Device Starts
================================== */
@media (max-width: 575px){
}
/* ==================================
    Extra Samll Device Ends
=================================*/
/* ==================================
    Small Device Starts
================================== */
@media (min-width: 576px) and (max-width: 767px){
}
/* ==================================
    Small Device Ends
=================================*/
/* ==================================
    Medium Device Starts
================================== */
@media (min-width: 768px) and (max-width: 991px){

    /* Header Part */
    header address a{
        font-size: 13px;
    }

    /* Banner Part */
    #banner .banner-item{
        padding: 100px 0;
    }
    #banner p{
        padding: 0 135px;
    }

    /* Service Part */
    .section-head p{
        padding: 0 160px;
    }
    #service .service-item p{
        text-align: justify;
    }

    /* About Part */
    #about .bg-image{
        width: 28%;
    }
    #about p{
        text-align: justify;
        padding-right: 0 !important;
    }
    #about img{
        width: 100%;
        margin-left: 60px;
    }

    /* Funfact */
    #funfact .fun-bg{
        height: 160px;
    }

    /* Blog */
    #blog p{
        text-align: justify;
    }
    #blog .slick-slider .left{
        left: 82px;
        top: 55%;
    }
    #blog .slick-slider .right{
        font-size: 42px;
        right: -1%;
        top: 55%;
        width: 60px;
        height: 60px;
    }

}
/* ==================================
    Medium Device Ends
=================================*/
/* ==================================
    Large Device Starts
================================== */
@media (min-width: 792px) and (max-width: 1199px){
}
/* ==================================
    Large Device Ends
=================================*/

    





/* ==================================
     Device Starts
================================== */

/* ==================================
     Device Ends
=================================*/