/* ==================================
    Extra Samll Device Starts
================================== */
@media (max-width: 575px){
}
/* ==================================
    Extra Samll Device Ends
=================================*/
/* ==================================
    Small Device Starts
================================== */
@media (min-width: 576px) and (max-width: 767px){

    /* Header Small */
    header address{
        line-height: 36px;
    }

    /* Navbar Small */
    nav .navbar-nav{
        background: var(--colr-35);
    }
    nav .nav-link{
        color: var(--white) !important;
        padding: 8px 170px !important;
    }

    /* Banner Small */
    #banner .banner-item{
        padding: 90px 0;
    }
    #banner p{
        padding: 0 100px;
        text-align: justify;
    }

    /* Service Small */
    .section-head p{
        padding: 0 70px;
    }
    #service .service-item{
        padding: 0 70px;
    }

    /* About Small */
    #about .bg-image, #about .bg-image::after{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    #about p{
        text-align: justify;
        padding-left: 55px;
    }

    /* Portfolio Small */
    #portfolio{
        margin-top: 370px;
    }
}
/* ==================================
    Small Device Ends
=================================*/
/* ==================================
    Medium Device Starts
================================== */
@media (min-width: 768px) and (max-width: 991px){

    /* Header Medium */
    header address a{
        font-size: 13px;
    }

    /* Banner Medium */
    #banner .banner-item{
        padding: 100px 0;
    }
    #banner p{
        padding: 0 135px;
    }

    /* Service Medium */
    .section-head p{
        padding: 0 160px;
    }
    #service .service-item p{
        text-align: justify;
    }

    /* About Medium */
    #about .bg-image{
        width: 28%;
    }
    #about p{
        text-align: justify;
        padding-right: 0 !important;
    }
    #about img{
        width: 100%;
        margin-left: 60px;
    }

    /* Funfact Medium */
    #funfact .fun-bg{
        height: 160px;
    }

    /* Blog Medium */
    #blog p{
        text-align: justify;
    }
    #blog .slick-slider .left{
        left: 82px;
        top: 55%;
    }
    #blog .slick-slider .right{
        right: -1%;
        top: 55%;
        width: 60px;
        height: 60px;
    }

    /* Testimonial Medium */
    #testimonial .section-head p{
        padding: 0 202px !important;
    }
    #testimonial p{
        padding: 0px 140px !important;
        text-align: justify;
    }
    #testimonial .image-slider{
        width: 40%;
    }
    #testimonial .item-overlay {
        width: 80%;
    }
    #testimonial .slick-slider .left{
        left: 100px;
    }
    #testimonial .slick-slider .right{
        right: 2%;
    }

    /* Brand Medium */
    #brand img{
        transform: scale(0.65);
        -webkit-transform: scale(0.65);
        -moz-transform: scale(0.65);
        -ms-transform: scale(0.65);
        -o-transform: scale(0.65);
    }
    #brand .slick-center{
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
    }
    #brand .slick-slider .right{
        font-size: 20px;
        right: -3%;
        top: 8%;
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    #brand .slick-slider .right:hover::before{
        width: calc(100% + 10px);
    }
    #brand .slick-slider .right:hover::after{
        height: calc(100% + 10px);
    }
    #brand .slick-slider .left{
        font-size: 20px;
        left: 55px;
        top: -45%;
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    #brand .slick-slider .left::before {
        top: 87px;
        left: -60px;
    }
    #brand .slick-slider .left:hover::before{
        width: calc(100% + 10px);
    }
    #brand .slick-slider .left::after {
        height: 0;
        top: 288%;
        right: 200%;
    }
    #brand .slick-slider .left:hover::after{
        height: calc(100% + 10px);
    }

    /* Footer Medium */
    footer .footer-main{
        padding: 36px 0;
    }
}
/* ==================================
    Medium Device Ends
=================================*/
/* ==================================
    Small Device Starts
================================== */
@media (min-width: 576px) and (max-width: 1199px){
}
/* ==================================
    Small Device Ends
=================================*/

    





/* ==================================
     Device Starts
================================== */

/* ==================================
     Device Ends
=================================*/