/* ==================================
    Extra Samll Device Starts
================================== */
@media (max-width: 575px){

    /* Header Extra Small */
    header address{
        line-height: 35px;
        text-align: center;
    }
    header .welcome{
        transform: scale(.8) skew(-35deg);
        -webkit-transform: scale(.8) skew(-35deg);
        -moz-transform: scale(.8) skew(-35deg);
        -ms-transform: scale(.8) skew(-35deg);
        -o-transform: scale(.8) skew(-35deg);
    }
    header ul{
        padding-right: 20px;
    }

    /* Navbar Extra Small */
    nav{
        background: #ff0000;
    }
    nav .navbar-nav{
        background: var(--colr-35);
        padding: 4px 0;
        margin-top: 30px;
    }
    nav .navbar-nav li:last-of-type{
        display: none;
    }
    nav .nav-link{
        color: var(--white) !important;
        padding: 5px 70px !important;
    }

    /* Banner Extra Small */
    #banner{
        display: none;
    }

    /* Service Extra Small */
    #service .section-head p{
        padding: 0;
    }

    /* About Extra Small */
    #about .bg-image{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    #about .bg-image::after{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    #about h3{
        padding: 24px 0 10px 0;
        text-align: center;
    }
    #about ul{
        padding-left: 50%;
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
    }
    #about p{
        text-align: justify;
        padding: 10px !important;
    }
    #about .btn{
        display: block;
        margin: 0 10px;
    }

    /* Portfolio Extra Small */
    #portfolio{
        margin-top: 630px;
    }
    #portfolio .container{
        padding-bottom: 20px !important;
    }
    #portfolio .section-head .h3{
        padding: 0 0 8px 0 !important;
    }
    #portfolio .section-head p{
        padding: 0 0 16px 0 !important;
    }
    #portfolio .port-image{
        left: 14px;
        margin-bottom: 24px;
    }
    #portfolio .xsm-mb-0{
        margin-bottom: 0;
    }

    /* Funfact Extra Small */
    #funfact .fun-bg{
        height: 200px;
    }
    #funfact .xsm{
        width: 50%;
        padding-top: 20px;
    }
    #funfact .xsm-ps{
        padding-left: 36px;;
    }

    /* Blog Extra Small */
    
}
/* ==================================
    Extra Samll Device Ends
=================================*/
/* ==================================
    Small Device Starts
================================== */
@media (min-width: 576px) and (max-width: 767px){

    /* Header Small */
    header address{
        line-height: 36px;
    }

    /* Navbar Small */
    nav .navbar-nav{
        background: var(--colr-35);
    }
    nav .nav-link{
        color: var(--white) !important;
        padding: 8px 170px !important;
    }

    /* Banner Small */
    #banner .banner-item{
        padding: 90px 0;
    }
    #banner p{
        padding: 0 100px;
        text-align: justify;
    }

    /* Service Small */
    .section-head p{
        padding: 0 70px;
    }
    #service .service-item{
        padding: 0 70px;
    }

    /* About Small */
    #about .bg-image, #about .bg-image::after{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    #about p{
        text-align: justify;
        padding-left: 55px;
    }

    /* Portfolio Small */
    #portfolio{
        margin-top: 430px;
    }
    #portfolio .m-sm-right{
        margin-left: 36px;
    }

    /* Funfact Small */
    #funfact .fun-bg{
        height: 200px;
    }
    #funfact .pr-sm{
        padding-right: 90px !important;
    }

    /* Blog Part Small */
    #blog .blog-slider .col-lg-4{
        padding-left: 40px;
}

    /* Testimonial Part Small */
    #testimonial .text-slider p{
        padding: 0 52px !important;
        text-align: justify;
    }
    #testimonial .image-slider{
        width: 60%;
    }
    #testimonial .item-overlay {
        width: 70%;
    }
    #testimonial .slick-slider .left{
        left: 100px;
    }
    #testimonial .slick-slider .right{
        right: 2%;
    }

    /* Brand Part Small */
    #brand img{
        transform: scale(0.75);
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -o-transform: scale(0.75);
}
    #brand .slick-center{
        transform: scale(0.85);
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        -o-transform: scale(0.85);
}
    #brand .slick-slider .right{
        font-size: 24px;
        right: -3%;
        top: 15%;
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    #brand .slick-slider .right:hover::before{
        width: calc(100% + 10px);
    }
    #brand .slick-slider .right:hover::after{
        height: calc(100% + 10px);
    }
    #brand .slick-slider .left{
        font-size: 24px;
        left: 55px;
        top: -30%;
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    #brand .slick-slider .left::before {
        top: 87px;
        left: -60px;
    }
    #brand .slick-slider .left:hover::before{
        width: calc(100% + 10px);
    }
    #brand .slick-slider .left::after {
        height: 0;
        top: 288%;
        right: 200%;
    }
    #brand .slick-slider .left:hover::after{
        height: calc(100% + 10px);
    }

    /* Footer Main Small */
    footer .footer-main{
        padding: 24px 0 !important;
    }
    footer .link-part ul{
        padding-left: 145px !important;
    }
    footer .image-part{
        padding-left: 100px !important;
    }

}
/* ==================================
    Small Device Ends
=================================*/
/* ==================================
    Medium Device Starts
================================== */
@media (min-width: 768px) and (max-width: 991px){

    /* Header Medium */
    header address a{
        font-size: 13px;
    }

    /* Banner Medium */
    #banner .banner-item{
        padding: 100px 0;
    }
    #banner p{
        padding: 0 135px;
    }

    /* Service Medium */
    .section-head p{
        padding: 0 160px;
    }
    #service .service-item p{
        text-align: justify;
    }

    /* About Medium */
    #about .bg-image{
        width: 28%;
    }
    #about p{
        text-align: justify;
        padding-right: 0 !important;
    }
    #about img{
        width: 100%;
        margin-left: 60px;
    }

    /* Funfact Medium */
    #funfact .fun-bg{
        height: 160px;
    }

    /* Blog Medium */
    #blog p{
        text-align: justify;
    }
    #blog .slick-slider .left{
        left: 82px;
        top: 55%;
    }
    #blog .slick-slider .right{
        right: -1%;
        top: 55%;
        width: 60px;
        height: 60px;
    }

    /* Testimonial Medium */
    #testimonial .section-head p{
        padding: 0 202px !important;
    }
    #testimonial p{
        padding: 0px 142px !important;
        text-align: justify;
    }
    #testimonial .image-slider{
        width: 40%;
    }
    #testimonial .item-overlay {
        width: 80%;
    }
    #testimonial .slick-slider .left{
        left: 100px;
    }
    #testimonial .slick-slider .right{
        right: 2%;
    }

    /* Brand Medium */
    #brand img{
        transform: scale(0.65);
        -webkit-transform: scale(0.65);
        -moz-transform: scale(0.65);
        -ms-transform: scale(0.65);
        -o-transform: scale(0.65);
    }
    #brand .slick-center{
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
    }
    #brand .slick-slider .right{
        font-size: 20px;
        right: -3%;
        top: 8%;
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    #brand .slick-slider .right:hover::before{
        width: calc(100% + 10px);
    }
    #brand .slick-slider .right:hover::after{
        height: calc(100% + 10px);
    }
    #brand .slick-slider .left{
        font-size: 20px;
        left: 55px;
        top: -45%;
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    #brand .slick-slider .left::before {
        top: 87px;
        left: -60px;
    }
    #brand .slick-slider .left:hover::before{
        width: calc(100% + 10px);
    }
    #brand .slick-slider .left::after {
        height: 0;
        top: 288%;
        right: 200%;
    }
    #brand .slick-slider .left:hover::after{
        height: calc(100% + 10px);
    }

    /* Footer Medium */
    footer .footer-main{
        padding: 36px 0;
    }
}
/* ==================================
    Medium Device Ends
=================================*/
/* ==================================
    Small Device Starts
================================== */
@media (min-width: 576px) and (max-width: 1199px){
}
/* ==================================
    Small Device Ends
=================================*/

    





/* ==================================
     Device Starts
================================== */

/* ==================================
     Device Ends
=================================*/