*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.transition{
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
:root{
    --hov-text: #ffca36;
    --hov-bg: #ffca36;
    --over-black60: rgba(0, 0, 0, 0.6);
    --over-black70: rgba(0, 0, 0, 0.7);
    --over-black80: rgba(0, 0, 0, 0.8);
}
/* ===============================================
    Common CSS Ends
================================================= */
/* ===============================================
   Typography Starts
================================================= */

/* ===== Font Families ===== */
.robo-light{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.robo-reg{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.robo-med{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.robo-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* ===== Font Size ===== */
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-35{
    font-size: 35px;
}
.fs-80{
    font-size: 80px;
}

/* ===== Text Transform ===== */
.text-cap{
    text-transform: capitalize;
}
.text-up{
    text-transform: uppercase;
}
.text-low{
    text-transform: lowercase;
}

/* ===== Colors ===== */
.text-brand{
    color: #ffca36;
}
.text-35{
    color: #353535;
}
.text-5{
    color: #555555;
}
.text-d{
    color: #dddddd;
}
.bg-brand{
    background: #ffca36;
}
.bg-35{
    background: #353535;
}
.bg-5{
    background: #555555;
}

/* ===== Some More ===== */
.font-normal{
    font-style: normal;
}
/* ===============================================
        Typography Ends
================================================= */
header i{
    padding-top: 12px;
}
header p{
    line-height: 40px;
}
header ul li{
    padding: 0 20px;
}
header ul li:last-of-type{
    padding-right: 0;
}
/* ===============================================
        Header Starts
================================================= */

/* ===============================================
        Header Ends
================================================= */

/* ===============================================
        Navbar Starts
================================================= */
/* ===============================================
        Navbar Ends
================================================= */


/* ===============================================
        Banner Starts
================================================= */
/* ===============================================
        Banner Ends
================================================= */


/* ===============================================
        About Starts
================================================= */
/* ===============================================
        About Ends
================================================= */


/* ===============================================
        Gallery Starts
================================================= */
/* ===============================================
        Gallery Ends
================================================= */


/* ===============================================
        Team Starts
================================================= */
/* ===============================================
        Team Ends
================================================= */


/* ===============================================
        Testimonial Starts
================================================= */
/* ===============================================
        Testimonial Ends
================================================= */


/* ===============================================
        Membership Starts
================================================= */
/* ===============================================
        Membership Ends
================================================= */


/* ===============================================
        Funfact Starts
================================================= */
/* ===============================================
        Funfact Ends
================================================= */


/* ===============================================
        Brand Starts
================================================= */
/* ===============================================
        Brand Ends
================================================= */


/* ===============================================
        Footer Starts
================================================= */
/* ===============================================
        Footer Ends
================================================= */


/* ===============================================
         Starts
================================================= */
/* ===============================================
         Ends
================================================= */