*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.transition{
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
:root{
    --hov-text: #ffca36;
    --hov-bg: #ffca36;
}
/* ===============================================
    Common CSS Ends
================================================= */
/* ===============================================
   Typography Starts
================================================= */

/* ===== Font Families ===== */

/* ===== Font Size ===== */

/* ===== Colors ===== */
.text-brand{
    color: #ffca36;
}
.text-bg{
    background: #ffca36;
}
.robo-reg{
    font-family: 'roboto-regular';
}
/* ===============================================
            Typography Ends
================================================= */

/* ===============================================
            Header Starts
================================================= */
/* ===============================================
            Header Ends
================================================= */

/* ===============================================
            Navbar Starts
================================================= */
/* ===============================================
            Navbar Ends
================================================= */


/* ===============================================
            Banner Starts
================================================= */
/* ===============================================
            Banner Ends
================================================= */


/* ===============================================
            About Starts
================================================= */
/* ===============================================
            About Ends
================================================= */


/* ===============================================
            Gallery Starts
================================================= */
/* ===============================================
            Gallery Ends
================================================= */


/* ===============================================
            Team Starts
================================================= */
/* ===============================================
            Team Ends
================================================= */


/* ===============================================
            Testimonial Starts
================================================= */
/* ===============================================
            Testimonial Ends
================================================= */


/* ===============================================
            Membership Starts
================================================= */
/* ===============================================
            Membership Ends
================================================= */


/* ===============================================
            Funfact Starts
================================================= */
/* ===============================================
            Funfact Ends
================================================= */


/* ===============================================
            Brand Starts
================================================= */
/* ===============================================
            Brand Ends
================================================= */


/* ===============================================
            Footer Starts
================================================= */
/* ===============================================
            Footer Ends
================================================= */


/* ===============================================
             Starts
================================================= */
/* ===============================================
             Ends
================================================= */