*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.transition{
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
:root{
    --hov-text: #ffca36;
    --hov-bg: #ffca36;
    --link-hov: #353535;
    --bg-brand: #353535;
    --over-black60: rgba(0, 0, 0, 0.6);
    --over-black70: rgba(0, 0, 0, 0.7);
    --over-black80: rgba(0, 0, 0, 0.8);
}
/* ===============================================
    Common CSS Ends
================================================= */
/* ===============================================
   Typography Starts
================================================= */

/* ===== Font Families ===== */
.robo-light{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.robo-reg{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.robo-med{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.robo-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* ===== Font Size ===== */
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-35{
    font-size: 35px;
}
.fs-80{
    font-size: 80px;
}

/* ===== Text Transform ===== */
.text-cap{
    text-transform: capitalize;
}
.text-up{
    text-transform: uppercase;
}
.text-low{
    text-transform: lowercase;
}

/* ===== Colors ===== */
.text-brand{
    color: #ffca36;
}
.text-35{
    color: #353535 !important;
}
.text-5{
    color: #555555;
}
.text-d{
    color: #dddddd;
}
.bg-brand{
    background: #ffca36;
}
.bg-35{
    background: #353535;
}
.bg-5{
    background: #555555;
}

/* ===== Some More ===== */
.font-normal{
    font-style: normal;
}
/* ===============================================
        Typography Ends
================================================= */
/* ===============================================
        Header Starts
================================================= */
header i{
    padding-top: 14px;
}
header p{
    line-height: 40px;
}
header .welcome{
    transform: skewX(-35deg);
    -webkit-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
}
header .welcome p{
    transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    -moz-transform: skewX(35deg);
    -ms-transform: skewX(35deg);
    -o-transform: skewX(35deg);
}
header ul li{
    padding: 0 20px;
    width: 45px;
}
header li::before {
    content: '';
    width: 1px;
    height: 0;
    background: var(--bg-brand);
    position: absolute;
    top: 5px;
    left: 20px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
header li:hover::before{
    height: 31px;
}
header li::after {
    content: '';
    width: 1px;
    height: 0;
    background: var(--bg-brand);
    position: absolute;
    bottom: 4px;
    right: 4px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
header li:hover::after{
    height: 31px;
}
header li a{
    line-height: 40px;;
    
}
header li a:hover{
    color: var(--link-hov);
}
header li a::before {
    content: '';
    width: 0;
    height: 1px;
    background: var(--bg-brand);
    position: absolute;
    top: 9px;
    left: 16px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
header li:hover a::before{
    width: 29px;
}
header li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: var(--bg-brand);
    position: absolute;
    bottom: 8px;
    right: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
header li:hover a::after{
    width: 29px;
}
header li i{
    width: 20px;
    height: 20px;
}
/* ===============================================
        Header Ends
================================================= */
/* ===============================================
        Navbar Starts
================================================= */
nav li::before {
    content: '';
    width: 1px;
    height: 108%;
    background: var(--bg-brand);
    position: absolute;
    top: -2px;
    left: 0px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
nav li:hover::before{
    height: 100%;
}
nav li::after {
    content: '';
    width: 1px;
    height: 105%;
    background: var(--bg-brand);
    position: absolute;
    bottom: -2px;
    right: 0px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
nav li:hover::after{
    height: 100%;
}
nav li a{
    line-height: 40px;;
    
}
nav li a:hover{
    color: var(--link-hov);
}
nav li a::before {
    content: '';
    width: 115%;
    height: 1px;
    background: var(--bg-brand);
    position: absolute;
    top: 4px;
    left: -7px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
nav li:hover a::before{
    width: 100%;
}
nav li a::after {
    content: '';
    width: 120%;
    height: 1px;
    background: var(--bg-brand);
    position: absolute;
    bottom: 4px;
    right: -6px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
nav li:hover a::after{
    width: 100%;
}
/* ===============================================
        Navbar Ends
================================================= */


/* ===============================================
        Banner Starts
================================================= */
/* ===============================================
        Banner Ends
================================================= */


/* ===============================================
        About Starts
================================================= */
/* ===============================================
        About Ends
================================================= */


/* ===============================================
        Gallery Starts
================================================= */
/* ===============================================
        Gallery Ends
================================================= */


/* ===============================================
        Team Starts
================================================= */
/* ===============================================
        Team Ends
================================================= */


/* ===============================================
        Testimonial Starts
================================================= */
/* ===============================================
        Testimonial Ends
================================================= */


/* ===============================================
        Membership Starts
================================================= */
/* ===============================================
        Membership Ends
================================================= */


/* ===============================================
        Funfact Starts
================================================= */
/* ===============================================
        Funfact Ends
================================================= */


/* ===============================================
        Brand Starts
================================================= */
/* ===============================================
        Brand Ends
================================================= */


/* ===============================================
        Footer Starts
================================================= */
/* ===============================================
        Footer Ends
================================================= */


/* ===============================================
         Starts
================================================= */
/* ===============================================
         Ends
================================================= */